.login__text-input-error {
margin: 0;
  padding: 0;
  max-width: 358px;
  width: 100%;
  min-height: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  opacity: 1;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .login__text-input-error {
    width: 260px;
  }
}