.login__send-text {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  max-width: 358px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .login__send-text {
    padding-top: 20px;
    max-width: 260px;
  }
}