.login__container {
  margin: 0 auto;
  padding: 0;
  background: #000;
  max-width: 358px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .login__container {
    max-width: 260px;
  }
}