.popup__heading_type_infotooltip {
    margin: 0;
    padding: 0px 0 60px 0;
    width: 358px;
    text-align: center;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__heading_type_infotooltip {
      padding: 0px 0 48px 0;
      max-width: 244px;
    }
  }